<h1>Submit a Question</h1>

<%= form_for(@question) do |f| %>
    
    <%= f.hidden_field :approved, :value => false %>
    <%= f.hidden_field :username, :value => current_user.email %>
    <p>
        <%= f.label :category %>
    </p>
    <p>
        <% options = options_from_collection_for_select(Category.all, :id, :name, :id) %>
        <%= f.select :category_id, options %>
    </p>
    <p>

    <%= f.label :question %>
    <br>
    <%= f.text_field :question %>
    </p>

    <%= f.fields_for :answers do |builder| %>
        <% if builder.options[:child_index] == 0 %>
            <p>
            <%= builder.label :correct_answer %><br />
            <%= builder.text_field :answer_text %>
            <%= builder.hidden_field :correct, :value => true %>
            </p>
        <% else %>
            <p>
            <%= builder.label :incorrect_answer %><br />
            <%= builder.text_field :answer_text %>
            <%= builder.hidden_field :correct, :value => false %>
            </p>
        <% end %>
    <% end %>

    
    <br>
    <%= f.submit "Submit my question", class: "btn btn-primary"%>
<% end %>