<h1>Review Questions</h1>

<p>Pending Questions:</p>
<table>
<% Question.find_each do |question|%>
  <% if(!question.approved?) %>
    <tr>
      <td><%= question.id %></td>
      <td><%= question.username %></td>
      <td><%= question.question %></td>
      <td><%=link_to "Show", question_path(question) %></td>
      <td><%= link_to "Delete", question, method: :delete,
                                    data: { confirm: "You sure?" } %></td>
      
    </tr>
  <% end %>
<% end %>
</table>

<% if current_user.access_level == 2 %>
  <p>Approved Questions:</p>
<table>
  <% Question.find_each do |question|%>
    <% if(question.approved?) %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.username %></td>
        <td><%= question.question %></td>
        <td><%=link_to "Show", question_path(question) %></td>
        <td><%= link_to "Delete", question, method: :delete,
                                      data: { confirm: "You sure?" } %></td>
        
      </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
