<h1>Individual Question Review</h1>


<% cookies[:current_question] = @question.id %>


<%= form_tag(question_approve_path(@question), method: :post) do %>
  <h3>Username: <%= @question.username %></h3>
  <h3>Category: <%= @category.name %></h3>
  <h3>Question: <%= @question.question %></h3>
  <h3>Answers: </h3>
  <% Answer.where(question_id: @question.id).find_each do |answer| %>
    <h4><%= answer.answer_text %></h4>
  <% end %>

  <%= text_field_tag 'level', nil, placeholder: 'Enter level here' %>
  </br>
  </br>
  <p> </p>  
  <%= submit_tag "Approve", class: "btn btn-primary" %>
  
  
<% end %>
  

<%# form_for @question do |f| %>
  <%#= f.label @question.username %>
  <%#= f.label @category.name %>
  <%#= f.label @question.question %>

<% #end %>
<h3><%= link_to "Reject", @question, method: :delete,
                                  data: { confirm: "You sure?" } %></h3>
<h3><%=link_to "Back", question_review_path %></h3>