<h2>Achievements for <%= @user.email %></h2>

<% if @stats.art_achievement %>
  <h4>Achievement unlocked:  Artiste!</h4>
<% end %>
<% if @stats.sports_achievement %>
  <h4>Achievement unlocked:  Athlete</h4>
<% end %>
<% if @stats.entertainment_achievement %>
  <h4>Achievement unlocked:  Cultured Persona</h4>
<% end %>
<% if @stats.geography_achievement %>
  <h4>Achievement unlocked:  World Traveler</h4>
<% end %>
<% if @stats.science_achievement %>
  <h4>Achievement unlocked:  Evil Genius</h4>
<% end %>
<% if @stats.history_achievement %>
  <h4>Achievement unlocked:  History Buff</h4>
<% end %>
<% if @stats.total_achievement %>
  <h4>Achievement unlocked:  Grandmaster</h4>
<% end %>

<%= link_to "Back", profile_path(@user) %>