<h1>Admin</h1>

<table>
<% User.find_each do |user|%>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= user.access_level %></td>
    <td><%=link_to "Show", user_path(user) %></td>
    
    <td><%= link_to "Delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
  </tr>
<% end %>
</table>