<% if !@user.picture_privacy? %>
  <%= gravatar_for(@user) %>
<% end %>
<h3>Personal information</h3>
<h4>Email: <%= @user.email %></h4>
<h4>Name: <%= @user.name %></h4>
<% if !@user.location_privacy? %>
  <h4>Location: <%= @user.location %></h4>
<% end %>
<h4>Difficulty Level: <%= @stats.level %></h4>

<% if @user.id == current_user.id %>
  <h4><%= link_to "Edit your information and settings", edit_users_path(@user) %></h4>
  
  <h4><%= link_to "Delete your account", @user, method: :delete,
                                  data: { confirm: "You sure?" } %></h4>
<% else %>
  <h4><%= link_to "Play a game against this person!", 
    games_create_path(:game => {:player1_id => current_user.id, :player2_id => @user.id, :currentplayer_id =>current_user.id}) %></h4>
  <h4>Your record against this opponent: <%= @wins %> Wins and <%= @losses %> Losses.</h4>
<% end %>


<h4><%= link_to "Achievements", achievements_path(@user.id) %></h4>
<h4><%= link_to "Statistics", user_stats_path(@user.id) %></h4>