<h1>User Profile</h1>

<%= @user.email %>

<br>
<p>Set user permissions:</p>
<%#= form_for(@user) do |f| %>
  <%#= f.select :access_level, options_for_select(['User', 'Reviewer', 'Admin']) %>
  <% #@user.update_attribute(:access_level, f.select) %>
  <p><%# link_to "Save", admin_save_user_path(params[:id], :access_level) %></p>
  <%#= f.submit "Update user access", class: "btn btn-primary"%>


<%= form_tag(modify_user_path, :method => 'get') do %>
  <% options = options_for_select(['User', 'Reviewer', 'Admin']) %>
  <%= select_tag(:access_level, options) %>
  <%= hidden_field_tag :id, @user.id %>
<%= submit_tag "Update user access", class: "btn btn-primary" %>
<% end %>
<br>

<p><%= link_to "Delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %></p>