<h2>Statistics for <%= @user.email %></h2>

<h4>Percentage Correct</h4>
<p>Art: <%= @art_avg %>%</p>
<p>Sports: <%= @sport_avg %>%</p>
<p>Entertainment: <%= @ent_avg %>%</p>
<p>Geography: <%= @geo_avg %>%</p>
<p>Science: <%= @sci_avg %>%</p>
<p>History: <%= @hist_avg %>%</p>
<p>Total: <%= @total_avg %>%</p>

<h4>Total Correct</h4>
<p>Art: <%= @stats.art_correct  %></p>
<p>Sports: <%=  @stats.sports_correct %></p>
<p>Entertainment: <%= @stats.entertainment_correct  %></p>
<p>Geography: <%= @stats.geography_correct  %></p>
<p>Science: <%= @stats.science_correct  %></p>
<p>History: <%= @stats.history_correct  %></p>
<p>Total: <%= @stats.total_correct  %></p>

<%= link_to "Back", profile_path(@user) %>