  <p><h3>Start a new game</h3></p>
  <p>Search for a friend by name or email. Or play a random opponent:</p>
  <%= form_tag(search_path, :method => 'get') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
    
  </p>
<% end %>
<%= button_to "Random", random_opponent_path(id: current_user.id), method: :get %>
<table>
  <% for user in @users %>
      <% if current_user.id != user.id %>
          <tr>
            <td><%#= link_to user.email, games_create_path(:game => {:player1_id => current_user.id, :player2_id => user.id, :currentplayer_id =>current_user.id}) %></td>
            <td><%= link_to user.email, profile_path(user) %></td>
          </tr>
      <% end %>
    <% end %>
</table>
<nav class="bad_alert"><%= @alert %> </nav>


  <p><h3>Games in progress</h3></p>
  <table>
    <% Game.where(player1_id: current_user.id, isfinished: false).find_each do |game|%>
      <% User.where(id: game.player2_id).find_each do |user|%>
          <% if game.currentplayer_id == current_user.id %> 
            <tr>
              <td><%= link_to user.email, category_spinner_path(id: game.id) %> (Your turn)</td>
            </tr>
          <% else %>
            <tr>
              <td><%= link_to user.email, category_spinner_path(id: game.id) %> (Their turn)</td>
            </tr>
          <% end %>
      <% end %>
    <% end %>
    <% Game.where(player2_id: current_user.id, isfinished: false).find_each do |game|%>
      <% User.where(id: game.player1_id).find_each do |user|%>
          <% if game.currentplayer_id == current_user.id %> 
            <tr>
              <td><%= link_to user.email, category_spinner_path(id: game.id) %> (Your turn)</td>
            </tr>
          <% else %>
            <tr>
              <td><%= link_to user.email, category_spinner_path(id: game.id) %> (Their turn)</td>
            </tr>
          <% end %>
      <% end %>
    <% end %>
  </table>

  <p><h3>Finished games</h3></p>
  <table>
    <% Game.where({player1_id: current_user.id, isfinished: true}).find_each do |game|%>
      <% User.where(id: game.player2_id).find_each do |user|%>
        <% if game.player1_id == game.winningplayer_id %>
          <tr>
            <td><%= link_to user.email, profile_path(user) %> (Won)</td>
          </tr>
        
        <% else %>
          <tr>
            <td><%= link_to user.email, profile_path(user) %> (Lost)</td>
          </tr>
          <% end %>
      <% end %>
    <% end %>
    <% Game.where({player2_id: current_user.id, isfinished: true}).find_each do |game|%>
      <% User.where(id: game.player1_id).find_each do |user|%>
        <% if game.player2_id == game.winningplayer_id %>
          <tr>
            <td><%= link_to user.email, profile_path(user) %> (Won)</td>
          </tr>
        <% else %>
          <tr>
            <td><%= link_to user.email, profile_path(user) %> (Lost)</td>
          </tr>
        <%  end %>
      <% end %>
    <% end %>
  </table>

