<h1>Review Questions</h1>
<table>
<% Question.find_each do |question|%>
  <tr>
    <td><%= question.id %></td>
    <td><%= question.username %></td>
    <td><%= question.question %></td>
    <td><%=link_to "Show", question_path(question) %></td>
    <td><%=link_to "Edit", edit_question_path(question) %></td>
    <td><%= link_to "Delete", question, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
  </tr>
<% end %>
</table>