<h1>Settings</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(update_settings_path, method: 'get') do %>
      <%#= render 'shared/error_messages' %>
      
      <%= label_tag :sound_flag %>
      <%= check_box_tag :sound_flag, @sound_flag, class: 'form-control' %>

      <%= submit_tag "Save changes", class: "btn btn-primary" %>
    <% end %>    
  </div>
</div>