



<p><%= link_to "Game",    new_game_path %></p>
<p><%= link_to "Game Settings",    settings_path %></p>
<p><%= link_to "Site Statistics",    stats_path %></p>
<p><%= link_to "Submit a Question",    question_submit_path %></p>
<% if current_user.access_level > 0 %>
  <p><%= link_to "Review Submitted Questions",    question_review_path %></p>
<% end %>
<% if current_user.access_level > 1 %>
  <p><%= link_to "Administrator Functions",    admin_path %></p>
<% end %>

<nav class="">

</nav>

Purchase Coins:
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="PXNV92E6L46YQ">
	<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



<!--
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="MZ457KSLN4MB2">
	<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
-->