<nav class="labels">
	<p>Player 1: <%= @player1.email %></p>
	<p>Player 2: <%= @player2.email %></p>
	<%= content_tag :div, class: "hidden_game_id", data: {id: @game.id} do %>
	<% end %>
	<%= content_tag :div, class: "hidden_sound_flag", data: {sound_flag: current_user.sound_flag} do %>
	<% end %>
	<!-- display pieces here -->
<table>
	<tr>
		<td>
			Player 1 Pieces: 
		</td>
		<td>
			<% if @score.art_category %>
		<nav class="art">Art</nav>
		<% end %>
		</td>
		<td>
			<% if @score.sports_category %>
		<nav class="sports">Sports</nav> 
		<% end %>
		</td>
		<td>
			<% if @score.entertainment_category %>
		<nav class="entertainment">Entertainment</nav>
		<% end %>
		</td>
		<td>
			<% if @score.geography_category %>
			<nav class="geography">Geography</nav>
		<% end %>
		</td>
		<td>
			<% if @score.science_category %>
			<nav class="science">Science</nav>
		<% end %>
		</td>
		<td>
			<% if @score.history_category %>
			<nav class="history">History</nav>
		<% end %>
		</td>
	</tr>
	<tr>
		<td>
			Player 2 Pieces: 
		</td>
		<td>
			<% if @score2.art_category %>
		<nav class="art">Art</nav>
		<% end %>
		</td>
		<td>
			<% if @score2.sports_category %>
		<nav class="sports">Sports</nav> 
		<% end %>
		</td>
		<td>
			<% if @score2.entertainment_category %>
		<nav class="entertainment">Entertainment</nav>
		<% end %>
		</td>
		<td>
			<% if @score2.geography_category %>
			<nav class="geography">Geography</nav>
		<% end %>
		</td>
		<td>
			<% if @score2.science_category %>
			<nav class="science">Science</nav>
		<% end %>
		</td>
		<td>
			<% if @score2.history_category %>
			<nav class="history">History</nav>
		<% end %>
		</td>
	</tr>

</table>
	
</nav>


<% if @score.crown_progress == 3 %>

<p><%= link_to "Crown", crown_category_choice_path(crown_progress: '3', id: @game.id, score_id: @score.id) %> or <%= link_to "Challenge", select_challenge_categories_path(:game_id => @game.id, :challenging_id => current_user.id)%></p>
<%else%>
	<% if @challenge.nil? %>
		<% if current_user.id == @game.currentplayer_id %>
	</br>
	  	<nav class="spinner">
	  		<div id="spinner">Category: <span class="art">Art</span></div>
			<button id='spinner_button'>Spin!</button>
			<br>
	  	</nav>
	  	<p><%#= link_to "Get Question", games_question_path(category_id: 6, id: @game.id, crown_question: false) %></p>
		<% else %>
			<p>Waiting for other player to answer</p>
		<% end %>
	<% else %>
		<p>You have a challenge pending <%= link_to "here", games_question_path(id: @game.id, question_id: @challenge.art_question_id, current_player_id: current_user.id, challenge_id: @challenge.id, challenge_question: true, question_number: 1, amount_correct: 0) %>.</p>
	<% end %>
	
<%end%>

<nav class="bad_alert"><%= @alert %> </nav>

<p>
	<h2>Crown Progress: </h2>
	<div class="row">
			<% if @score.crown_progress == 0 %>
				<div id="crown-progress-bar-1" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 0%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-2" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 0%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-3" class="col-xs-6 col-md-4">
					<div class="progress">
			  			<div class="progress-bar progress-bar-success" style="width: 0%"></div>
					</div>
				</div>
			<% elsif @score.crown_progress == 1 %>
				<div id="crown-progress-bar-1" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 100%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-2" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 0%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-3" class="col-xs-6 col-md-4">
					<div class="progress">
			  			<div class="progress-bar progress-bar-success" style="width: 0%"></div>
					</div>
				</div>
			<% elsif @score.crown_progress == 2 %>
				<div id="crown-progress-bar-1" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 100%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-2" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 100%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-3" class="col-xs-6 col-md-4">
					<div class="progress">
			  			<div class="progress-bar progress-bar-success" style="width: 0%"></div>
					</div>
				</div>
			<% else %>
				<div id="crown-progress-bar-1" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 100%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-2" class="col-xs-6 col-md-4">
					<div class="progress">
	  					<div class="progress-bar progress-bar-success" style="width: 100%"></div>
					</div>
				</div>
				<div id="crown-progress-bar-3" class="col-xs-6 col-md-4">
					<div class="progress">
			  			<div class="progress-bar progress-bar-success" style="width: 100%"></div>
					</div>
				</div>
			<% end %>
	</div>
</p>


<p><%= link_to "Resign Game", resign_path(game_id: @game.id) %></p>




