<%= form_tag(games_question_path, :method => 'get') do %>
<p><%= label_tag('Select the category you want to play for:') %></p>
<p>
  <% options = options_from_collection_for_select(@categories, :id, :name, :id) %>
  <%= select_tag(:category_id, options) %>
  <%= hidden_field_tag "id", @game.id %>
  <%= hidden_field_tag "crown_question", true %>
  <%#= hidden_field_tag "category_id", @category_id %>
</p>
<%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>