<nav class="rate_question">
<% if !!@answer %>
  <% if @answer.correct? %>
  <nav class="good_alert">
    <h4>You answered correctly!</h4>
  </nav>
    <% if current_user.sound_flag %>
      <audio id='win'>
        <source src='win.mp3' type='audio/mpeg'>
      </audio>
    <%end%>
  <% else %>
  <nav class="bad_alert">
    <h4>You answered wrong.</h4>
  </nav>
    <% if current_user.sound_flag %>
      <audio id='fail'>
        <source src='fail.mp3' type='audio/mpeg'>
      </audio>
    <%end%>
  <% end %>
<% else %>
  <nav class="bad_alert">
    <h4>You answered wrong.</h4>
  </nav>
<% end %>

<h4>Please rate this question:</h4>
<% options = options_for_select(['Just Right', 'Easy', 'Hard']) %>
<%= select_tag(:rating, options, id: 'rating_selector') %>
<%= content_tag :div, class: "hidden_player_rating_data", data: { id: @game_id, question_id: @question_id } do %><%end%>
<%#= content_tag :div, class: "hidden_player_rating_data", data: {  } do %><%#end%>
</br></br>
<button id='player_rating_button'>Rate question and continue</button>
</nav>

