
<h4>Category: </h4>
<% if @category_id == 1 %>
    <h4>Art</h4>
<% elsif @category_id == 2 %>
    <h4>Sports</h4>
<% elsif @category_id == 3 %>
    <h4>Entertainment</h4>
<% elsif @category_id == 4 %>
    <h4>Geography</h4>
<% elsif @category_id == 5 %>
    <h4>Science</h4>
<% elsif @category_id == 6 %>
    <h4>History</h4>
<% end %>


<% if @challenge_question == "true" %>
    <%= form_tag(check_answer_path, :method => 'get') do %>
    <table>
    <% Question.where(id: @question.id).find_each do |question|%>
            <tr>
                <td><h3><%= question.question %></h3></td>
            </tr>
        <% Answer.where(question_id: question.id).shuffle.each do |answer|%>
        <tr>
            <td>
                <h4>
                    <%= radio_button_tag(:answer, answer.id) %>
                    <%= answer.answer_text %>

                    <%= hidden_field_tag "id", @game.id %>
                    <%= hidden_field_tag "challenge_id", @challenge.id %>
                    <%= hidden_field_tag "current_player_id", @current_player_id %>
                    <%= hidden_field_tag "challenge_question", @challenge_question %>
                    <%= hidden_field_tag "question_number", @question_number %>
                    <%= hidden_field_tag "amount_correct", @amount_correct %>
                    <%# hidden_field_tag "crown_question", @crown_question %>
                </h4>
            </td>
        </tr>

        <% end %>
    <% end %>
    </table>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
    <% end %>
<% else %>
    <h4>Timer: <div id='timer'>30</div></h4>
    <%= form_tag(check_answer_path, :method => 'get') do %>
        <table>
        <% Question.where(id: @question.id).find_each do |question|%>
            <tr>
                <td><h3><%= question.question %></h3></td>
            </tr>
            <% Answer.where(question_id: question.id).shuffle.each do |answer|%>
                <tr>
                    <td>
                        <h4>
                            <%= radio_button_tag(:answer, answer.id) %>
                            <%= answer.answer_text %>
                            <%= content_tag :div, class: "hidden_timer_data", data: { id: @game.id} do %><%end%>
                            <%= content_tag :div, class: "hidden_timer_data", data: { category_id: @category.id} do %><%end%>
                            <%= content_tag :div, class: "hidden_timer_data", data: { crown_question: @crown_question} do %><%end%>
                            <%= content_tag :div, class: "hidden_timer_data", data: { question_id: @question.id} do %><%end%>
                            <%= content_tag :div, class: "hidden_timer_data", data: { answer_id: answer.id} do %><%end%>
                            <%= hidden_field_tag :id, @game.id %>
                            <%= hidden_field_tag :category_id, @category.id %>
                            <%= hidden_field_tag :crown_question, @crown_question %>
                            <%= hidden_field_tag :question_id, @question.id %>

                            <%#= hidden_field_tag :freeze_coins, 0 %>
                            <%#= hidden_field_tag "answer_chosen", true %>
                        </h4>
                    </td>
                </tr>
            <% end %>
        <% end %>
        </table>
        <%= hidden_field_tag :freeze_coins, 0 %>
        <%= submit_tag "Submit", class: "btn btn-primary" %>
    </br>
    </br>
    <% end %>
    <p>
        <% if current_user.coins >= 5 %>
            <%= link_to "Reset Time", reset_powerup_path(id: @game.id, category_id: @category.id, question_id: @question.id, crown_question: @crown_question), method: :get %> Cost: 5
        <% end %>
    </p>
    <p>
        <% if current_user.coins >= 10 %>
            <button id='freezer'>Freeze Time</button> Cost: 10
        <% end %>
    </p>
    <p>
        <% if current_user.coins >= 15 %>
            <%= link_to "Extra Try", retry_path(id: @game.id, category_id: @category.id, question_id: @question.id, crown_question: @crown_question), method: :get %> Cost: 15
        <% end %>
    </p>
    
    
    
<% end %>

<div class='freeze' id='freeze'>f</div>
<div class='freeze'>0</div>