<%= form_tag(challenge_path, :method => 'get') do %>

	<p><%= label_tag('Select a category to steal from your opponent:') %></p>
	<p>
	  <% options = options_from_collection_for_select(@challenged_categories, :id, :name, :id) %>
	  <%= select_tag(:challenged_category, options) %>
	</p>

	<p><%= label_tag('Select a category to risk losing:') %></p>
	<p>
	  <% options = options_from_collection_for_select(@challenging_categories, :id, :name, :id) %>
	  <%= select_tag(:challenging_category, options) %>
	</p>

	<%= hidden_field_tag "game_id", @game.id %>
	
	<%= hidden_field_tag "challenging_id", @challenging_player.id %>
	<%= hidden_field_tag "challenged_id", @challenged_player.id %>

<%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>