@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
link_button {
  border: 4px outset;
  padding: 2px;
  text-decoration: none;
}
.spinner{
  text-align: center;
  outline: 5px dotted black;
  margin: 5px;
  padding: 5px;
  width: auto;
  font-size: 1.5em;
}
.freeze{
  color: white;
}
.rate_question{
      align-items: center;
}
.labels{
  font-size: 1.5em;
}
.bad_alert{
  color: red;
}
.good_alert{
  color: green;
}
.art{
  color: red;
}
.science{
  color: green;
}
.history{
  color: brown;
}
.sports{
  color: orange;
}
.entertainment{
  color: purple;
}
.geography{
  color: blue;
}
.crown{
  color: yellow;
}

td {
  padding-right: 5px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.pages{
  padding-top: 50px;
  padding-left: 20px;
}

h1 {
  
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header{
  #logo {
    float: left;
    margin: 10px;
    
    color: white;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 5px;
    font-weight: bold;
    &:hover {
      color: gray-light;
      text-decoration: none;
    }
  }
  ul {
    float: right;
    list-style: none;
    color: white;
    li {
      float: center;
      margin-left: 15px;
      color: white;
    }
  }
  .login {
    margin: 5px;
    float: right;
    color: white;
    padding: 5px;
  }
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}