<h3>Monthly statistics</h3>
<p><%= link_to "Total Stats", monthly_total_stats_path %></p>
<p><%= link_to "Art Stats", monthly_art_stats_path %></p>
<p><%= link_to "Sports Stats", monthly_sports_stats_path %></p>
<p><%= link_to "Entertainment Stats", monthly_entertainment_stats_path %></p>
<p><%= link_to "Geography Stats", monthly_geography_stats_path %></p>
<p><%= link_to "Science Stats", monthly_science_stats_path %></p>
<p><%= link_to "History Stats", monthly_history_stats_path %></p>
<p><%= link_to "Back to Site Stats", stats_path %></p>