<h3>Overall Art Stats</h3>

<h4>Email  Sum Art Correct</h4>
<% @stats.find_each do |stat| %>
  <p><%= User.find(stat.user_id).email %> <%= stat.art_correct %></p>
  <% if stat.art_attempted > 0 %>
    <% @perc_stats[stat.user_id] =  ( 100 * stat.art_correct.to_f / stat.art_attempted ) %>
  <% else %>
    <% @perc_stats[stat.user_id] =  0 %>
  <% end %>
<% end %>

<% @perc_stats.sort_by {|k,v| v} %>

<h4>Email   Percent Art Correct</h4>
<% @perc_stats.each do |id, perc| %>
  <p><%= User.find(id).email %> <%= perc %>%</p>
<% end %>

<%= link_to "Back to Overall Stats", overall_stats_path %>