<h3>Overall Statistics, for all time.</h3>
<p><%= link_to "Total Stats", overall_total_stats_path %></p>
<p><%= link_to "Art Stats", overall_art_stats_path %></p>
<p><%= link_to "Sports Stats", overall_sports_stats_path %></p>
<p><%= link_to "Entertainment Stats", overall_entertainment_stats_path %></p>
<p><%= link_to "Geography Stats", overall_geography_stats_path %></p>
<p><%= link_to "Science Stats", overall_science_stats_path %></p>
<p><%= link_to "History Stats", overall_history_stats_path %></p>
<p><%= link_to "Back to Site Stats", stats_path %></p>