<h3>Overall Total Stats</h3>

<h4>Email / Sum Total Correct</h4>
<% @stats.find_each do |stat| %>
  <p><%= User.find(stat.user_id).email %> <%= stat.total_correct %></p>
  <% if stat.total_attempted > 0 %>
    <% @perc_stats[stat.user_id] =  ( 100 * stat.total_correct.to_f / stat.total_attempted ) %>
  <% else %>
    <% @perc_stats[stat.user_id] =  0 %>
  <% end %>
<% end %>

<% @perc_stats.sort_by {|k,v| v} %>

<h4>Email /  Percent Total Correct</h4>
<% @perc_stats.each do |id, perc| %>
  <p><%= User.find(id).email %> <%= perc %>%</p>
<% end %>

<%= link_to "Back to Overall Stats", overall_stats_path %>