<h3>Weekly Statistics</h3>
<p><%= link_to "Total Stats", weekly_total_stats_path %></p>
<p><%= link_to "Art Stats", weekly_art_stats_path %></p>
<p><%= link_to "Sports Stats", weekly_sports_stats_path %></p>
<p><%= link_to "Entertainment Stats", weekly_entertainment_stats_path %></p>
<p><%= link_to "Geography Stats", weekly_geography_stats_path %></p>
<p><%= link_to "Science Stats", weekly_science_stats_path %></p>
<p><%= link_to "History Stats", weekly_history_stats_path %></p>
<p><%= link_to "Back to Site Stats", stats_path %></p>