<h3>Weekly Geography Stats</h3>

<h4>Email / Sum Geography Correct</h4>

<% @group_diff.each do |key, val| %>
  <p><%= User.find(key).email %> <%= val %>
<% end %>


<h4>Email /  Percent Geography Correct</h4>
<% @group_perc.each do |key, val| %>
  <p><%= User.find(key).email %> <%= val %></p>
<% end %>

<%= link_to "Back to Weekly Stats", weekly_stats_path %>