<!DOCTYPE html>
<html>
  <head>
    <title>Trivia Buster App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
    <header class="navbar navbar-fixed-top navbar-inverse">
      <h1><%= link_to "Trivia Buster", root_path, id: "logo" %></h1>
        <nav class="login">
          <% if user_signed_in? %>
            <%if current_user.name? %>
              Coins: <%= current_user.coins %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Signed in as <%= link_to current_user.name, profile_path(current_user)%>.
            <% else %>
              Coins: <%= current_user.coins %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Signed in as <%= link_to current_user.email, profile_path(current_user) %>.  You can set your Username <%=link_to "here", edit_users_path(current_user) %>.
            <% end %>
            Not you? <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </nav>
    </header>
    </div>
    <div class="container">
      <div class="pages">
        <%= yield %>
      </div>
      
    </div>
  </body>
</html>
